version: '3.8'

services:
  influxdb:
    image: influxdb:latest
    container_name: influxdb_juanjosejm
    ports:
      - "8086:8086"
    volumes:
      - ./influxdb_data:/var/lib/influxdb2
      - ./influxdb_config:/etc/influxdb2
    restart: unless-stopped